<ng-container *ngIf="viewModel$ | async as vm">
    <div class="card-wrapper">
        <mat-card
            [class]="theme"
            [ngClass]="{ active: vm.active, disabled: disabled }"
            (click)="onCardClicked(vm.active)">
            <div class="card-container">
                <div class="card-header">
                    <mat-card-title> {{ vm.title }} </mat-card-title>
                    <mat-card-subtitle>
                        {{ vm.subtitle }}
                    </mat-card-subtitle>
                </div>
                <mat-card-content> 0 </mat-card-content>
            </div>
            <span class="material-icons-outlined"> file_copy </span>
        </mat-card>

        <ng-container *ngIf="vm.active">
            <div class="details-container">
                <div class="details-header">
                    <span>{{ vm.detailsTitle }}</span>
                    <mat-icon (click)="onCloseClicked()"> close </mat-icon>
                </div>
                <div class="details-content">
                    <ng-content select="[details]"></ng-content>
                </div>
                <span class="material-icons-outlined"> file_copy </span>
            </div>
        </ng-container>
    </div>
</ng-container>
