$gray: #757575;
$white: #ffffff;
$black: #000000;
$blue-gray: #506482;

$blue-theme: #2e5da4;
$green-theme: #008542;
$yellow-theme: #ffa000;
$red-theme: #d62839;
$orange-theme: #ff7700;

$default-opacity: 1;
$hover-opacity: 0.9;
$active-opacity: 0.8;

$default-font: 'Work Sans';

@mixin font-style($size, $weight, $family) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}

@mixin theme-style($color, $background) {
    color: $color;
    background-color: rgba($background, $default-opacity);

    &.disabled {
        color: $white;
        pointer-events: none;
        background-color: $gray;
    }

    &.active {
        background-color: rgba($background, $active-opacity);
        box-shadow:
            inset 0 0 0 2px $white,
            0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    &:hover:not(.active, :active) {
        background-color: rgba($background, $hover-opacity);
    }

    &:active {
        @extend .active;
    }
}

div.card-wrapper::ng-deep {
    gap: 20px;
    display: flex;
    flex-direction: column;

    mat-card {
        max-width: 214px;
        min-height: 81px;
        overflow: hidden;
        padding: 16px 16px 24px 24px;

        cursor: pointer;
        user-select: none;

        &.blue {
            @include theme-style($white, $blue-theme);
        }

        &.green {
            @include theme-style($white, $green-theme);
        }

        &.yellow {
            @include theme-style($black, $yellow-theme);
        }

        &.red {
            @include theme-style($white, $red-theme);
        }

        &.orange {
            @include theme-style($black, $orange-theme);
        }

        > div.card-container {
            gap: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            > div.card-header {
                flex: 1;
                gap: 8px;
                display: flex;
                overflow: hidden;
                flex-direction: column;

                .text-ellipsis {
                    overflow: hidden;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                }

                > .mat-card-title {
                    @include font-style(16px, 600, $default-font);
                    @extend .text-ellipsis;

                    margin: unset;
                }

                > .mat-card-subtitle {
                    @include font-style(12px, 400, $default-font);
                    @extend .text-ellipsis;

                    color: unset;
                    margin: unset;
                }
            }

            > .mat-card-content {
                @include font-style(34px, 500, $default-font);

                z-index: 1;
                margin: unset;
            }
        }

        > span {
            right: 0;
            bottom: -8px;
            position: absolute;

            opacity: 16%;
            color: $white;
            font-size: 56px;
        }
    }

    > div.details-container {
        gap: 16px;
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 16px 24px 24px 24px;

        overflow: hidden;
        border-radius: 4px;

        box-shadow:
            0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 2px 1px 0px rgba(0, 0, 0, 0.12),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14);

        > .details-header {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

            > span {
                @include font-style(16px, 600, $default-font);
            }

            > mat-icon {
                color: $blue-gray;
                cursor: pointer;
            }
        }

        > .details-content {
            @include font-style(14px, 400, $default-font);

            flex: 1;
            color: $blue-gray;
        }

        > span {
            right: 0;
            bottom: -8px;
            position: absolute;

            opacity: 16%;
            font-size: 56px;
            pointer-events: none;
        }
    }
}
