<div class="container">
    <h1>Test</h1>
    <p>Lista de taskuri</p>
    <ol>
        <li>
            Corectat designul la ambele style-uri din componenta card potrivit
            detaliilor din figma:
            <a
                href="https://www.figma.com/design/P9DJKUG0AuGutH5WeQ3kA4/Test-UI?node-id=0-1&t=FfBuK4HTWsBIEl8Y-0"
                >Link figma</a
            >
        </li>
        <li>
            Adaptat mat-card-ul pentru fiecare state descrie in figma ( default,
            hover, active ( clicked ), disabled )
        </li>
        <li>
            Preluat informatiile din display component si utilizate in card
            component ( title si subtitle )
        </li>
        <li>
            Containerul apare cand cardul este in active state, close button
            ascunde containerul si dezactiveaza active state-ul.
        </li>
    </ol>

    <br />
    <p>
        Status mat-card:
        <b>{{ (cardStatus$ | async) ? 'Open' : 'Closed' }}</b>
    </p>

    <p>Inputuri pentru card-container</p>

    <div class="form">
        <ng-container [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Title container Input</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="detailsTitle" />
            </mat-form-field>
        </ng-container>
    </div>

    <div class="row">
        <div class="col-md-6">
            <app-card>
                <ng-container details>
                    Please detach component and add the content that you need.
                    The icon from the bottom should be the same with the icon
                    from cluster card that is active
                    <br />
                    Please detach component and add the content that you need.
                    The icon from the bottom should be the same with the icon
                    from cluster card that is active

                    <br />
                    <br />
                    Please detach component and add the content that you need.
                    The icon from the bottom should be the same with the icon
                    from cluster card that is active Please detach component and
                    add the content that you need. The icon from the bottom
                    should be the same with the icon from cluster card that is
                    active Please detach component and add the content that you
                    need.
                </ng-container>
            </app-card>
        </div>
        <div class="col-md-6">
            <app-display></app-display>
        </div>
    </div>
</div>
